CTranslate2/Data/
CTranslate2/Project/DerivedData/*
CTranslate2/userPreferences.*
CTranslate2/Libraries/lib4d-arm64.dylib
CTranslate2/Resources/en.lproj/syntaxEN.json
cpp/.build/*
cpp/.vs/*
cpp/x64/Release/ct2-server.exp
cpp/x64/Release/ct2-server.lib
cpp/x64/Release/ct2-server.pdb
cpp/ct2-server/x64/Release/vc143.pdb
cpp/ct2-server/x64/Release/main.obj
cpp/ct2-server/x64/Release/ct2-server.tlog/link.write.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/link.secondary.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/link.read.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/link.command.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/ct2-server.lastbuildstate
cpp/ct2-server/x64/Release/ct2-server.tlog/CL.write.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/CL.read.1.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/Cl.items.tlog
cpp/ct2-server/x64/Release/ct2-server.tlog/CL.command.1.tlog
cpp/ct2-server/x64/Release/ct2-server.log
cpp/ct2-server/x64/Release/ct2-server.iobj
cpp/ct2-server/x64/Release/ct2-server.exe.recipe
cpp/ct2-server/x64/Release/ct2-server.ipdb
cpp/ct2-server/x64/Release/ct2-server.tlog/unsuccessfulbuild
cpp/macOS/ct2-server.dmg
cpp/macOS/ct2-server.dSYM/*
cpp/x64/ct2-server
cpp/macOS/ct2-server
cpp/ct2-server/ARM64/Release/ct2-server.tlog/*
cpp/ARM64/Release/ct2-server.exp
cpp/ARM64/Release/ct2-server.lib
cpp/ARM64/Release/ct2-server.pdb
cpp/ct2-server/ARM64/*
cpp/ARM64/Release/ct2-server.exe
